<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

	<% include ../partials/header %>
	
</head>
<body>
	<div id="wrapper">

		<% include ../partials/nav %>

		<div id="page-wrapper">
			<h1><span class="fa fa-plus-square"></span> Add New Club</h1>

			<!-- show any messages that come back with authentication -->
			<% if(message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
			<% }; %>

			<!-- LOGIN FORM -->
			<form action="/newClub" method="post">
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" name="name">
				</div>
				<div class="form-group">
					<label>Grand Master's Email (Invitation ticket will send)</label>
					<input type="text" class="form-control" name="grandMasterEmail">
				</div>
				<div class="form-group">
					<label>Grand Master's Email Again</label>
					<input type="text" class="form-control" name="grandMasterEmailAgain">
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Add</button>
			</form>


		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<% include ../partials/footer %>
</body>
</html>